<p><%= link_to 'New Budget', new_budget_path, class: 'btn btn-primary' %></p>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Budgets</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Weekly Deposit</th>
        </tr>
      </thead>
      <% @budgets.each do |budget| %>
        <tr>
          <td><%= link_to edit_budget_path(budget), class: 'table-row-link' do %><%= budget.name %><% end %></td>
          <td><%= link_to edit_budget_path(budget), class: 'table-row-link' do %><%= smart_number_to_currency(budget.weekly_deposit) %><% end %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
