<p><%= link_to 'New Transaction', new_transaction_path, class: 'btn btn-primary' %></p>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Transactions</h3>
  </div>
  <div class="panel-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>When</th>
      </tr>
    </thead>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to edit_transaction_path(transaction), class: 'table-row-link' do %><%= transaction.name %> <%= transaction.company.present? ? "(#{transaction.company})" : nil %><% end %></td>
        <td><%= link_to edit_transaction_path(transaction), class: 'table-row-link' do %><%= smart_number_to_currency(transaction.amount) %><% end %></td>
        <td><%= link_to edit_transaction_path(transaction), class: 'table-row-link' do %><%= format_date(transaction.purchased_at) %><% end %></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>
